/*
	blue - #007bff
*/

/* Type
-------------------------------------------------------------------*/
body { color: #333; font-family: 'Open Sans', sans-serif; font-size: 14px; }

h1,.title1 { font-size: 25px; }
h2,.title2 { font-size: 20px; }
h3,.title3 { font-size: 18px; }
h4,.title4 { font-size: 16px; }
a { color: #007bff; }
a:hover { color: #0e69cc; }

.btn { font-size: 14px; }
.btn-primary { background-color: #007bff; border: none; }
.btn-primary:hover,
.btn-primary:focus { background-color: #0e69cc; border: none; box-shadow: none; }
.btn i { margin-left: 5px; }

@media screen and (min-width: 991px) {
	h1,.title1 { font-size: 30px; }
	h2,.title2 { font-size: 25px; }
	h3,.title3 { font-size: 20px; }
	h4,.title4 { font-size: 18px; }
	body { font-size: 16px; }
	.btn { font-size: 16px; }
}

/* Header
-------------------------------------------------------------------*/
header.main .logo img { width: 125px; }
header.main ul.nav li a { display: inline-block; font-size: 16px; color: #333; padding: 10px; }


/* Site Wide
-------------------------------------------------------------------*/
.page-content { margin: 40px 0; }


/* Home
-------------------------------------------------------------------*/
.home section { position: relative; }
.home .hero .hero-content { width: 400px; text-align: center; position: relative; z-index: 15; }
.home .hero .hero-content .title { color: #fff; margin-bottom: 30px; }
.home .hero-bg { background-position: center center; background-size: cover; min-height: 600px; }
.overlay { background-color: rgba(0,0,0,.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; }


/* Single Post
-------------------------------------------------------------------*/
.social-share { margin: 0 0 20px 0; }
.social-share a { font-size: 28px; color: #333; margin-left: 8px; position: relative; top: 4px; }
.social-share a:hover { text-decoration: none; opacity: .7; }
.social-share-text { font-size: 15px; }


/* Footer
-------------------------------------------------------------------*/
footer.main { background: #333; }
footer.main * { color: #fff; }
footer.main .contact i { font-size: 22px; }
footer.main .copyright a { text-decoration: underline; }