/* type
-------------------------------------------------------------------*/
body { 
	color: #333; 
	font-size: 14px; 
	line-height: 1.5;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

h1,h2,h3,h4,h5,h6 { font-family: 'Helvetica', 'Arial', sans-serif; }

h1,
.fs1,
.fs1-container h2, 
.fs1-container h3 { 
	font-size: 30px; 
}

h2,
.fs2,
.fs2-container h2, 
.fs2-container h3 { 
	font-size: 25px; 
}

h3,
.fs3,
.fs3-container h2, 
.fs3-container h3 {
	font-size: 20px; 
}

h4,
.fs4, 
.fs4-container h2, 
.fs4-container h3 { 
	font-size: 16px; 
}

.btn { 
	font-size: 14px; 
}
.btn i { margin-left: 5px; }

@media screen and (min-width: 992px) {	
	body { font-size: 16px; }

	h1,
	.fs1,
	.fs1-container h2, 
	.fs1-container h3 { font-size: 40px; }
	
	h2,
	.fs2,
	.fs2-container h2, 
	.fs2-container h3 { font-size: 35px; }
	
	h3,
	.fs3,
	.fs3-container h2, 
	.fs3-container h3 { { font-size: 40px; }
	
	h4,
	.fs4, 
	.fs4-container h2, 
	.fs4-container h3 { font-size: 20px; }
	
	.btn { font-size: 16px; }
}

/* site wide
-------------------------------------------------------------------*/
.white { color: #fff; }
.text-white-container * { color: #fff; }

.bg-image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 600px;
}


/* header
-------------------------------------------------------------------*/
header.main .logo img { width: 125px; }
	
header.main ul.nav li a { 
	display: inline-block; 
	font-size: 16px; 
	color: #333; 
	padding: 10px;
} 


/* home
-------------------------------------------------------------------*/
.hero { position: relative; }
.hero .hero-content {
	width: 400px;
	text-align: center;
	position: relative;
	z-index: 15;
}

.overlay {
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

/* search
-------------------------------------------------------------------*/
.search-result {
	border-bottom: 1px solid #ccc;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.search-result em {
	display: block;
	margin-bottom: 5px;
}
.search-result .title { margin-bottom: 5px; }
.search-result p { margin: 0; }


/* footer
-------------------------------------------------------------------*/
footer.main .copyright { font-size: 12px; }
footer.main .copyright a { text-decoration: underline; }