@import 'variables.scss';
@import "bootstrap_custom.scss";
@import 'base.scss';

/* Type
-------------------------------------------------------------------*/
body { 
	color: #333; 
	font-size: 14px; 
	@include lg { font-size: 16px; }
}

h1,h2,h3,h4,h5,h6 { font-family: 'Open Sans', 'Helvetica', sans-serif; }

h1,
.fs1,
.fs1-container h2, 
.fs1-container h3 { 
	font-size: 30px; 
	@include lg { font-size: 40px; }
}

h2,
.fs2,
.fs2-container h2, 
.fs2-container h3 { 
	font-size: 25px; 
	@include lg { font-size: 35px; }
}

h3,
.fs3,
.fs3-container h2, 
.fs3-container h3 {
	font-size: 20px; 
	@include lg { font-size: 30px; }
}

h4,
.fs4, 
.fs4-container h2, 
.fs4-container h3 { 
	font-size: 16px; 
	@include lg { font-size: 20px; }
}

.btn { 
	font-size: 14px; 
	@include lg { font-size: 16px; }
	i { margin-left: 5px; }
}

a { color: $primary; }

.basic-content {
	
}


/* Header
-------------------------------------------------------------------*/
header.main {
	.logo img { width: 125px; }
	
	ul.nav li a { 
		display: inline-block; 
		font-size: 16px; 
		color: #333; 
		padding: 10px;
	} 
}


/* Site Wide
-------------------------------------------------------------------*/
.white { color: $white; }
.text-white-container * { color: #fff; }


.hero {
	position: relative;
	@include lg {		
		display: flex;
		align-items: center;
	}
	.bg-image {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 300px;
		width: 100%;
	}
	.hero-content {
		width: 100%;
		text-align: center;
		position: relative;
		padding: 20px 0 0 0;
		h1 {
			color: #333;
			margin: 0;
			@include lg {
				color: #fff;
			}
		}
		@include lg {
			position: absolute;
			z-index: 15;
		}
	}
}


/* Home
-------------------------------------------------------------------*/
.home .hero {
	.bg-image { min-height: 600px; }
	.hero-content { padding-bottom: 40px; }
}

.overlay {
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}


/* Single Post
-------------------------------------------------------------------*/
.social-share { 
	margin: 0 0 20px 0; 
	a { 
		font-size: 28px; 
		color: #333; 
		margin-left: 8px; 
		position: relative; 
		top: 4px; 
	}
	a:hover { text-decoration: none; opacity: .7; }
	.social-share-text { font-size: 15px; }
}


/* Search
-------------------------------------------------------------------*/
.search-result {
	border-bottom: 1px solid #ccc;
	padding-bottom: 25px;
	margin-bottom: 25px;
	.title { margin-bottom: 5px; }
	em {
		display: block;
		margin-bottom: 5px;
	}
	p { margin: 0; }
}


/* Footer
-------------------------------------------------------------------*/
footer.main {
	.copyright { 
		font-size: 12px; 
		a { text-decoration: underline; }
	}
}

